@font-face {
    font-family: 'NAMU Pro';
    src: local('NAMU Pro'), local('NAMU-Pro'),
        url('../fonts/NAMU/NAMU-900.woff2') format('woff2'),
        url('../fonts/NAMU/NAMU-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NAMU 1850';
    src: local('NAMU 1850'), local('NAMU-1850'),
        url('../fonts/NAMU/NAMU-400.woff2') format('woff2'),
        url('../fonts/NAMU/NAMU-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../fonts/OpenSans/OpenSans-Italic-400.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Italic-400.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans/OpenSans-Regular-400.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Regular-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans/OpenSans-Bold-700.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Bold-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../fonts/OpenSans/OpenSans-BoldItalic-700.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-BoldItalic-700.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../fonts/OpenSans/OpenSans-LightItalic-300.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-LightItalic-300.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/OpenSans/OpenSans-Light-300.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Light-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}