.header {
    display: flex;
    align-items: center;
    background: #111111;
    min-height: 90px;
    color: #FFFFFF;
}

.header__inner {
    display: flex;
    align-items: center;

}

.header__burger {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background: transparent;
    margin-right: 25px;
    margin-left: 84px;
}

.header__burger div {
    position: relative;
    height: 2.59px;
    width: 29.17px;
    background: #fff;
}

.header__burger div::before {
    content: '';
    height: 2.59px;
    width: 29.17px;
    background: #fff;

    position: absolute;
    top: -10.42px;
    left: 0;
}

.header__burger div::after {
    content: '';
    height: 2.59px;
    width: 29.17px;
    background: #fff;

    position: absolute;
    top: 10.42px;
    left: 0;
}


.header__burger div,
.header__burger div::before,
.header__burger div::after {
    transition: all .5s;
}


@media(any-hover: hover) {

    .header__burger:hover.header__burger div,
    .header__burger:hover.header__burger div::before,
    .header__burger:hover.header__burger div::after {
        background: #C5358C;
        transition: all .2s;
    }

}


.header__burger:active.header__burger div,
.header__burger:active.header__burger div::before,
.header__burger:active.header__burger div::after {
    background: #C5358C;
    transition: all .2s;
}


.logo--margin {
    margin-right: 32px;
}

.header__nav {
    margin-right: 114px;
    width: 750px;

    font-family: "NAMU", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.1875;
}

.header__nav-list {
    display: flex;
    gap: 20px;

    font-family: "NAMU", "Arial", sans-serif;
    font-weight: 900;
    line-height: 1.1875;
}

.header__actions {
    display: flex;
    gap: 20px;
    align-items: center;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-right: 65px;
}

.header__action:last-child {
    display: flex;
    align-items: end;
}

.header__action .accordion__tab-control {
    cursor: pointer;
}

.header__action a {
    display: block;
}

.header__action .accordion img {
    width: 37px;
}

.header__action .accordion__tab-control {
    position: relative;
}

.header__action .accordion__content {
    position: absolute;
    background: #111111;
    opacity: 70%;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}

.header__action .accordion__tab-control--open+.accordion__content .accordion__content-item {
    transition: all .5s;
}


@media(any-hover: hover), (any-active: active) {
    .header__action .accordion__tab-control--open+.accordion__content .accordion__content-item:is(:hover, :active) {
        background: #C5358C;
        transition: all .2s;
    }
}

.header__action .accordion__content-item {
    display: flex;
    align-items: center;
}

.header__action .accordion__content-item span {
    padding-left: 10px;
}

.number-of-products {
    display: flex;
    align-items: center;
    transform: translateY(-2px);
    justify-content: center;
    width: 19px;
    height: 19px;
    background: #ffffff;
    border-radius: 50%;

    color: rgb(0, 0, 0);
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.57;
    text-align: center;

    display: none;
}

.header__action-go-to-the-shopping-cart {
    width: 36px;
    height: 36px;
}

.header__action-go-to-the-shopping-cart svg {
    width: 100%;
    height: 100%;
}

.header__action-go-to-the-shopping-cart path {
    transition: all .5s;
}


@media(any-hover: hover), (any-active: active) {
    .header__action-go-to-the-shopping-cart:is(:hover, :active) path {
        stroke: #C5358C;
        transition: all .2s;
    }
}

/* ====================================Медиазапросы============================================== */
@media (max-width: 1568px) {

    .header {
        min-height: 5.7398vw;
    }

    .header__burger {
        width: 3.1888vw;
        height: 3.1888vw;
        margin-right: 1.5944vw;
        margin-left: 5.3571vw;
    }

    .header__burger div {
        height: 0.1652vw;
        width: 1.8603vw;
    }

    .header__burger div::before {
        height: 0.1652vw;
        width: 1.8603vw;
        top: -0.6645vw;
        left: 0;
    }

    .header__burger div::after {
        height: 0.1652vw;
        width: 1.8603vw;
        top: 0.6645vw;
        left: 0;
    }

    .logo--margin {
        margin-right: 2.0408vw;
    }

    .header__nav {
        margin-right: 7.2704vw;
        width: 47.8316vw;

        font-size: 1.0204vw;
        font-weight: 900;
        line-height: 1.1875;
    }

    .header__nav-list {
        gap: 1.2755vw;

        font-weight: 900;
        line-height: 1.1875;
    }

    .header__actions {
        gap: 1.2755vw;
        font-size: 1.0204vw;
        font-weight: 700;
        line-height: 1.5;
        margin-right: 4.1454vw;
    }

    .header__action .accordion img {
        width: 2.3597vw;
    }

    .header__action .accordion__content-item span {
        padding-left: 0.6378vw;
    }

    .number-of-products {
        transform: translateY(-2px);
        width: 1.2117vw;
        height: 1.2117vw;

        font-size: 0.8929vw;
        font-weight: 700;
        line-height: 1.57;
    }


    .header__action-go-to-the-shopping-cart {
        width: 2.2959vw;
        height: 2.2959vw;
    }
}

@media (max-width: 760px) {

    .header {
        min-height: 10vw;
    }

    .header__burger {
        width: 5.2632vw;
        height: 5.2632vw;
        margin-left: 6.8421vw;
        margin-right: 2.6316vw;
    }

    .header__burger div {
        height: 0.3408vw;
        width: 3.0697vw;
    }

    .header__burger div::before {
        height: 0.3408vw;
        width: 3.0697vw;
        top: -1.0961vw;
        left: 0;
    }

    .header__burger div::after {
        height: 0.3408vw;
        width: 3.0697vw;
        top: 1.0961vw;
        left: 0;
    }

    .logo--margin {
        margin-right: 23.2895vw;
    }

    .header__nav {
        display: none;
    }

    .header__actions {
        gap: 2.6316vw;
        font-size: 2.1053vw;
        font-weight: 700;
        line-height: 1.5;
        margin-right: 4.3421vw;
    }

    .header__action .accordion img {
        width: 4.8684vw;
    }

    .header__action .accordion__content-item span {
        padding-left: 1.3158vw;
    }

    .number-of-products {
        transform: translateY(-0.2632vw);
        width: 2.1528vw;
        height: 2.1528vw;

        font-size: 1.8421vw;
        font-weight: 700;
        line-height: 1.57;
    }


    .header__action-go-to-the-shopping-cart {
        width: 4.0789vw;
        height: 4.0789vw;
    }

}

@media (max-width: 410px) {

    .header {
        min-height: 11.4634vw;
    }

    .header__burger {
        width: 7.3171vw;
        height: 7.3171vw;
        margin-left: 0;
        margin-right: 4.8780vw;
        margin-left: 4.8780vw;
    }

    .header__burger div {
        height: 0.3659vw;
        width: 4.2683vw;
    }

    .header__burger div::before {
        height: 0.3659vw;
        width: 4.2683vw;
        top: -1.5244vw;
        left: 0;
    }

    .header__burger div::after {
        height: 0.3659vw;
        width: 4.2683vw;
        top: 1.5244vw;
        left: 0;
    }

    .logo--margin {
        margin-right: 33.6585vw;
        flex-shrink: 0;
    }

    .header__actions {
        gap: 4.8780vw;
        font-size: 2.2756vw;
        font-weight: 700;
        line-height: 1.393;
        margin-right: 4.8780vw;
        margin-left: auto;
    }

    .header__actions .header__action:first-child {
        display: none;
    }

    .header__action .accordion img {
        width: 7.0732vw;
    }

    .header__action .accordion__content-item span {
        padding-left: 1.2195vw;
        font-size: 2.9268vw;
    }

    .number-of-products {
        transform: translateY(-2px);
        width: 3.0902vw;
        height: 3.0902vw;

        font-size: 2.2756vw;
        font-weight: 700;
        line-height: 1.393;
    }

    .header__action-go-to-the-shopping-cart {
        width: 5.8537vw;
        height: 5.8537vw;
    }
}
