.special-offers__inner .accordion {
    position: relative;
    max-width: 273px;
    color: #111111;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.389;
    margin: 50px 0 40px auto;
}

.special-offers__inner .accordion svg {
    display: none;
}

.special-offers__inner .accordion__tab-control {
    position: relative;
    display: flex;
    padding: 6px 25px 7px;
    border: 1px solid #c5358c;
    border-radius: 3px;
    margin-bottom: 10px;
}

.special-offers__inner .accordion__tab-control.accordion__tab-control--open {
    color: #c5358c;
}

.special-offers__inner .accordion__tab-control svg:first-of-type {
    display: block;
    position: absolute;
    top: 18px;
    right: 25px;

    width: 7.733398px;
    height: 5.437988px;
}

.special-offers__inner .accordion__tab-control.accordion__tab-control--open svg:last-of-type {
    display: block;
    position: absolute;
    top: 18px;
    right: 25px;

    width: 7.733398px;
    height: 5.437988px;
}

.special-offers__inner .accordion__tab-control.accordion__tab-control--open svg:first-of-type {
    visibility: hidden;
}

.special-offers__inner .accordion__tab-control+.accordion__content {
    max-height: 0;
    overflow: hidden;
}

.special-offers__inner .accordion__content {
    position: absolute;
    width: 100%;
    transition: .5s;
    z-index: 2;
}

.special-offers__inner .accordion__content .accordion__content-item {
    border-top: 1px solid #cccccc;
    background: #fdfdfd;
    width: inherit;
    padding: 7px 25px 8px;
    font-weight: 300;
    cursor: pointer;
}

.special-offers__inner .accordion__content .accordion__content-item:first-child {
    border: none;
}

.special-offers__inner .accordion__content .accordion__content-item:active {
    font-weight: 400;
}


.special-offers__inner .accordion__content-item {
    position: relative;
    display: flex;
}

.special-offers__inner .accordion__content-item svg {
    visibility: visible;
    display: none;
    position: absolute;
    top: 18px;
    right: 21px;

    width: 16.507812px;
    height: 11.004150px;
}

.special-offers__inner .accordion__content-item:active svg {
    display: block;
}


/* ====================================Медиазапросы============================================== */
@media(any-hover: hover) {
    .special-offers__inner .accordion__content .accordion__content-item:hover {
        font-weight: 400;
    }

    .special-offers__inner .accordion__content-item:hover svg {
        display: block;
    }
}

@media (max-width:1568px) {
    .special-offers__inner .accordion {
        max-width: 17.4107vw;
        font-size: 1.1480vw;
        font-weight: 400;
        line-height: 1.389;
        margin: 3.1888vw 0 2.5510vw auto;
    }

    .special-offers__inner .accordion__tab-control {
        padding: 0.3827vw 1.5944vw 0.4464vw;
        border-radius: 0.1913vw;
        margin-bottom: 0.6378vw;
        border: 0.0638vw solid #c5358c;
    }

    .special-offers__inner .accordion__tab-control svg:first-of-type {
        top: 1.1480vw;
        right: 1.5944vw;

        width: 0.4932vw;
        height: 0.3468vw;
    }

    .special-offers__inner .accordion__tab-control.accordion__tab-control--open svg:last-of-type {
        top: 1.1480vw;
        right: 1.5944vw;

        width: 0.4932vw;
        height: 0.3468vw;
    }

    .special-offers__inner .accordion__content .accordion__content-item {
        padding: 0.4464vw 1.5944vw 0.5102vw;
        font-weight: 300;
    }


    .special-offers__inner .accordion__content-item svg {
        top: 1.1480vw;
        right: 1.3393vw;
        width: 1.0528vw;
        height: 0.7018vw;
    }
}

@media(max-width: 760px) {
    .special-offers__inner .accordion {
        max-width: 25.1316vw;
        font-size: 1.5789vw;
        font-weight: 400;
        line-height: 1.333;
        margin: 2.6316vw 0 3.9474vw auto;
    }

    .special-offers__inner .accordion__tab-control {
        padding: 0.7895vw 3.2895vw;
        border-radius: 0.3947vw;
        margin-bottom: 1.3158vw;
        border: 0.1316vw solid #c5358c;
    }

    .special-offers__inner .accordion__tab-control svg:first-of-type {
        top: 1.7105vw;
        right: 2.2719vw;

        width: 1.0176vw;
        height: 0.7155vw;
    }

    .special-offers__inner .accordion__tab-control.accordion__tab-control--open svg:last-of-type {
        top: 1.7105vw;
        right: 2.2719vw;

        width: 1.0176vw;
        height: 0.7155vw;
    }

    .special-offers__inner .accordion__content .accordion__content-item {
        padding: 0.7895vw 3.2895vw;
        font-weight: 300;
    }

    .special-offers__inner .accordion__content-item svg {
        top: 1.1842vw;
        right: 1.8421vw;
        width: 2.1721vw;
        height: 1.4479vw;
    }
}

@media(max-width:410px) {
    .special-offers__inner .accordion {
        max-width: 46.5854vw;
        font-size: 2.9268vw;
        font-weight: 400;
        line-height: 1.333;
        margin: 4.1463vw 0 9.2683vw auto;
    }

    .special-offers__inner .accordion__tab-control {
        padding: 1.4634vw 6.0976vw;
        border-radius: 0.7317vw;
        margin-bottom: 2.4390vw;
        border: 0.2439vw solid #c5358c;
    }

    .special-offers__inner .accordion__tab-control svg:first-of-type {
        top: 3.1707vw;
        right: 4.2114vw;

        width: 1.8862vw;
        height: 1.3263vw;
    }

    .special-offers__inner .accordion__tab-control.accordion__tab-control--open svg:last-of-type {
        top: 3.1707vw;
        right: 4.2114vw;

        width: 1.8862vw;
        height: 1.3263vw;
    }

    .special-offers__inner .accordion__content .accordion__content-item {
        padding: 1.4634vw 6.0976vw;
        font-weight: 300;
    }


    .special-offers__inner .accordion__content-item svg {
        top: 2.1951vw;
        right: 3.4146vw;
        width: 4.0263vw;
        height: 2.6839vw;
    }
}