@import url('./header.css');
@import url('./footer.css');
@import url('./main-section-discount.css');
@import url('./main-section-dyson-advantages.css');
@import url('./main-section-equipment-slider.css');
@import url('./main-section-exlusive-color.css');
@import url('./main-section-faq-accordion.css');
@import url('./main-section-free.css');
@import url('./main-section-how-to-make-curls.css');
@import url('./main-section-how-to-place-an-order.css');
@import url('./main-section-special-offers-accordion.css');
@import url('./main-section-special-offers-slider.css');
@import url('./main-section-special-offers.css');
@import url('./main-secton-hero.css');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    width: 1568px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: visible;
}

.container-inner {
    max-width: 1360px;
    margin: 0 auto;
    overflow: visible;
}

.more-detailed {
    padding: 15.5px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.375;
    width: 235px;
    background: #4D57C8;
    margin-bottom: 111px;
    transition: all .5s;
    color: #FFFFFF;
    border-radius: 3px;
}

.more-detailed:is(:active) {
    background: #C5358C;
    transition: all .2s;
}


.logo {
    display: block;
    width: 123px;
    height: 53px;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* ====================================Медиазапросы============================================== */
@media(any-hover: hover) {
    .more-detailed:is(:hover) {
        background: #C5358C;
        transition: all .2s;
    }
}

@media (max-width: 1568px) {
    .container {
        width: 100vw;
        padding: 0 1.2755vw;
    }

    .container-inner {
        max-width: 86.7347vw;
    }

    .more-detailed {
        padding: 0.9885vw;
        font-size: 1.5306vw;
        font-weight: 400;
        line-height: 1.375;
        width: 14.9872vw;
        margin-bottom: 7.0791vw;
        border-radius: 0.1913vw;
    }

    .logo {
        width: 7.8444vw;
        height: 3.3801vw;
    }

}

@media (max-width: 760px) {

    .container {
        width: 100vw;
        padding: 0 1.9737vw;
    }

    .container-inner {
        max-width: 82.6316vw;
    }

    .more-detailed {
        padding: 0.9211vw;
        font-size: 2.1053vw;
        font-weight: 400;
        line-height: 1.375;
        width: 18.5526vw;
        margin-bottom: 6.5789vw;
        border-radius: 0.3947vw;
    }

    .logo {
        width: 18.6842vw;
        height: 7.8947vw;
    }

}

@media (max-width: 410px) {
    .container {
        width: 100vw;
        padding: 0 2.4390vw;
    }

    .container-inner {
        max-width: 85.3659vw;
    }

    .more-detailed {
        padding: 1.7073vw;
        font-size: 3.9024vw;
        font-weight: 400;
        line-height: 1.375;
        width: 34.3902vw;
        margin-bottom: 12.1951vw;
        border-radius: 0.7317vw;
    }

    .logo {
        width: 18.5366vw;
        height: 7.8049vw;
    }
}