.open-sans {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.line-through {
    text-decoration: line-through;
}
.uppercase {
    text-transform: uppercase;
    text-align: center;
}
.word-spacing {
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 0.5px 0.8px 0.8px #8f18e4;
}

.letter-spacing {
    letter-spacing: 5px;
    text-decoration: underline double;
}