body {
    background: #555;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

h1 {
    width: 700px;
    margin: 0 auto;
    position: relative;
}

h1::before {
    content: '';
    width: 6rem;
    height: 6rem;
    background: #f77777;
    border: 5px solid #fff;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

h1::after {
    content: '';
    width: 6rem;
    height: 6rem;
    background: #2995ed;
    border: 5px solid #fff;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
