.faq {
    padding: 150px 0;
}

.faq__title,
.faq__title--mobile {
    color: #111111;
    font-family: NAMU;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.19;
    margin-bottom: 59px;
}

.faq__title--mobile {
    display: none;
}

.faq__item .accordion__tab-control {
    display: flex;
    padding: 30.36px 0;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ababab;
}

.faq__item .accordion__tab-control p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    width: 1200px;
}

.button-open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: relative;
    transition: all .5s;
}

.button-open div {
    border: 2px solid #111111;
    width: 36px;
}

.button-open div::after {
    position: absolute;
    content: '';
    transform: rotate(90deg);
    top: 44.5%;
    right: 0;
    border: 2px solid #111111;
    width: 36px;
}

.faq__item .accordion__tab-control.accordion__tab-control--open .button-open {
    transition: all .2s;
    transform: rotate(45deg);
}

.faq__item .accordion__tab-control.accordion__tab-control--open .button-open div {
    border-color: #C5358C;
}

.faq__item .accordion__tab-control.accordion__tab-control--open .button-open div::after {
    content: '';
    border-color: #C5358C;
}


.faq__item .accordion__tab-control+.accordion__content {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}

.faq__item:last-child .accordion__tab-control+.accordion__content {
    border-bottom: 1px solid #ababab;
}

.faq__item .accordion__tab-control.accordion__tab-control--open+.accordion__content {
    transition: all .2s;
}

.faq__item .accordion__content-item {
    max-width: 908px;
    margin-bottom: 50px;
}

/* ====================================Медиазапросы============================================== */
@media (max-width:1568px) {
    .faq {
        padding: 9.5663vw 0;
    }

    .faq__title {
        font-size: 2.6786vw;
        font-weight: 900;
        line-height: 1.19;
        margin-bottom: 3.7628vw;
    }

    .faq__item .accordion__tab-control {
        padding: 1.9362vw 0;
    }

    .faq__item .accordion__tab-control p {
        font-size: 1.2755vw;
        font-weight: 400;
        line-height: 1.5;
        width: 76.5306vw;
    }

    .button-open {
        width: 2.2959vw;
        height: 2.2959vw;
    }

    .button-open div {
        border: 0.1276vw solid #111111;
        width: 2.2959vw;
    }

    .button-open div::after {
        top: 44.5%;
        right: 0;
        border: 0.1276vw solid #111111;
        width: 2.2959vw;
    }


    .faq__item .accordion__tab-control+.accordion__content {
        font-size: 1.1480vw;
        font-weight: 300;
        line-height: 1.5;
        max-height: 0;
    }

    .faq__item .accordion__content-item {
        max-width: 57.9082vw;
        margin-bottom: 3.1888vw;
    }
}

@media (max-width: 760px) {

    .faq {
        padding: 7.8947vw 0 10vw;
    }

    .faq__title {
        font-size: 3.4211vw;
        font-weight: 900;
        line-height: 1.19;
        margin-bottom: 5.2632vw;
    }

    .faq__item .accordion__tab-control {
        padding: 2.2408vw 0;
    }

    .faq__item .accordion__tab-control p {
        font-size: 2.1053vw;
        font-weight: 400;
        line-height: 1.4;
        max-width: 71.7105vw;
    }

    .button-open {
        width: 4.2105vw;
        height: 4.2105vw;
    }

    .button-open div {
        border: 0.2632vw solid #111111;
        width: 4.2105vw;
    }

    .button-open div::after {
        top: 44.5%;
        right: 0;
        border: 0.2632vw solid #111111;
        width: 4.2105vw;
    }

    .faq__item .accordion__tab-control+.accordion__content {
        font-size: 1.8421vw;
        font-weight: 300;
        line-height: 1.5;
        max-height: 0;
    }

    .faq__item .accordion__content-item {
        max-width: 71.7105vw;
        margin-bottom: 3.2895vw;
    }
}

@media(max-width: 575px) {
    .faq {
        padding: 46px 0;
    }

    .faq__title {
        display: none;
    }

    .faq__title--mobile {
        display: block;
        font-size: 20px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 38px;
    }

    .faq__item .accordion__tab-control {
        padding: 15.18px 0;
    }

    .faq__item .accordion__tab-control p {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.4;
        max-width: 302px;
    }

    .button-open {
        width: 25.5px;
        height: 25.5px;
    }

    .button-open div {
        border: 1.5px solid #111111;
        width: 25.5px;
    }

    .button-open div::after {
        top: 44.5%;
        right: 0;
        border: 1.5px solid #111111;
        width: 25.5px;
    }


    .faq__item .accordion__tab-control+.accordion__content {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        max-height: 0;
    }

    .faq__item .accordion__content-item {
        max-width: 302px;
        margin-bottom: 15px;
    }
}

@media(max-width: 410px) {
    .faq {
        padding: 11.2195vw 0;
    }

    .faq__title {
        display: none;
    }

    .faq__title--mobile {
        display: block;
        font-size: 4.8780vw;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 9.2683vw;
    }

    .faq__item .accordion__tab-control {
        padding: 3.7024vw 0;
    }

    .faq__item .accordion__tab-control p {
        font-size: 3.1707vw;
        font-weight: 400;
        line-height: 1.4;
        max-width: 73.6585vw;
    }

    .button-open {
        width: 6.2195vw;
        height: 6.2195vw;
    }

    .button-open div {
        border: 0.3659vw solid #111111;
        width: 6.2195vw;
    }

    .button-open div::after {
        top: 44.5%;
        right: 0;
        border: 0.3659vw solid #111111;
        width: 6.2195vw;
    }


    .faq__item .accordion__tab-control+.accordion__content {
        font-size: 2.9268vw;
        font-weight: 300;
        line-height: 1.5;
        max-height: 0;
    }

    .faq__item .accordion__content-item {
        max-width: 73.6585vw;
        margin-bottom: 3.6585vw;
    }
}